[workspace]
name = "drone_estimators"
version = "0.1.0b0"
description = "State estimators for drones."
authors = ["Marcel Rath", "Martin Schuck"]
channels = ["https://fast.prefix.dev/conda-forge"]
platforms = ["linux-64"]

[dependencies]
python = ">=3.11.0,<3.14"
pip = ">=25.0.1,<26"
uv = "*"
ruff = "*"

[target.linux.dependencies]
libgl-devel = "*"

[environments]
default = { solve-group = "default" }
tests = { features = ["tests"], solve-group = "default" }
docs = { features = ["docs"], solve-group = "default" }
dist = { features = ["dist"], solve-group = "default" }
jazzy = { features = ["jazzy"] }

# tests
[feature.tests.pypi-dependencies]
pytest = ">=8.4.1"
pytest-timeout = ">=2.1.0"
drone-estimators = { path = "./", editable = true }

[feature.tests.tasks]
tests = { cmd = "pytest -v tests", description = "Run tests" }

# docs
[feature.docs.dependencies]
mkdocs = ">=1.5.0"
mkdocs-material = ">=9.0.0"
python = ">=3.10"

[feature.docs.pypi-dependencies]
mkdocs-autorefs = ">=1.2.0"
mkdocstrings = { extras = ["python"], version = ">=0.26.0" }
mkdocs-gen-files = ">=0.5.0"
mkdocs-literate-nav = ">=0.6.0"
mkdocs-section-index = ">=0.3.0"

[feature.docs.tasks]
docs-serve = { cmd = "mkdocs serve", description = "Serve docs locally" }
docs-build = { cmd = "mkdocs build", description = "Build docs" }

# distribution
[feature.dist.pypi-dependencies]
build = "*"
twine = "*"

[feature.dist.tasks]
build = { cmd = "python -m build && twine check dist/*", description = "Build and test the package" }
upload_test = { cmd = "twine upload -r testpypi dist/*", description = "Test upload of the built package" }
upload = { cmd = "twine upload dist/*", description = "Upload of the built package" }

# jazzy
[feature.jazzy]
channels = ["https://prefix.dev/robostack-jazzy"]

[feature.jazzy.dependencies]
compilers = "*"
cmake = "*"
pkg-config = "*"
make = "*"
ninja = "*"
rosbags = ">=0.10.9,<0.11"

ros-jazzy-desktop = "*"
colcon-common-extensions = "*"
rosdep = "*"